{:paths ["src" "resources" "test"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}}

 :aliases
 {:test
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :coordinator {:main-opts ["-m" "cloud.coordinator.main"]}
  :worker      {:main-opts ["-m" "cloud.worker.main"]}
  :demo        {:main-opts ["-m" "cloud.demo.app"]}}}